@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Satisfy&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    /* background-color: #AABFD4; */
    background-image: linear-gradient(to bottom right, #AABFD4, #6699CC, #4D7399);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 16px;
    padding-left: 16px;
    margin-bottom: 32px;
}

nav {
    color: white;
    border-bottom: 1px solid black;
    padding: 16px 16px;
    background-color: #3D454D;
}

footer {
    color: white;
    padding: 16px 16px;
    margin-top: auto;
    background-color: #3D454D;
}

img {
    width: 100%;
    height: 200px;
    box-shadow: 5px 5px 5px black;
    object-fit: cover;
    object-position: bottom left;
}

.detail-img {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    box-shadow: none;
    object-fit: cover;
    object-position: bottom left;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gold;
}

a:visited {
    color: black;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.h1-scrumptious {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 48px;
    color: black;
    margin-bottom: 0;
}

h2 {
    font-variant: small-caps;
}

.h2-list {
    text-align: center;
    margin-top: 0;
    padding-bottom: 64px;
    color: black;
}

.rating {
    padding-top: 16px;
    color: gold;
}

.table {
    border: 2px solid black;
}

#main-page:visited {
    color: white;
}
